* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Vazir', sans-serif;
    direction: rtl;
    background-color: #fff7f9;
    color: #333;
}

header {
    text-align: center;
    padding: 2rem;
    background: linear-gradient(135deg, #ffccd5, #ffe6ea);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
    color: #ff5e78;
    margin-bottom: 0.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

header p {
    font-size: 1.2rem;
    color: #333;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.image-box {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 1rem;
}

.image-box img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #ffccd5;
    color: #333;
    width: 100%;
}

footer p {
    font-size: 1rem;
}

/* ریسپانسیو کردن */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.8rem;
    }

    header p {
        font-size: 1rem;
    }

    .image-box {
        margin-bottom: 0.8rem;
    }

    footer p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    header p {
        font-size: 0.8rem;
    }

    .image-box {
        margin-bottom: 0.5rem;
    }

    .image-box img {
        border-radius: 5px;
    }
}